body {
    background-color: whitesmoke;
}


.hubtel-logo {
    width: 10%;
}

@media screen and (max-width: 600px) {
    .hubtel-logo {
        width: 30%;
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hubtel-logo {
        width: 20%;
    }
}

.container {
    background-color: #f1f1f1;
    margin: 5% 35% 10px;
    padding: 20px 16px 16px;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 5% 5%;
    }
}

@media (max-width:992px) and (min-width:601px) {
    .container {
        margin: 10% 20%;
    }
}

#solution {
    display: inline-block;
    width: 95%;
    border: 1px solid #ddd;
    /* background-color: #ddd; */
    border-radius: 10px;
    padding: 10px 5px;
}

@media screen and (max-width:600px) {
    #solution {
        width: 90%;
    }
}

@media screen and (max-width: 240px) {
    #solution {
        width: 87%;
    }
}

#num1,
#num2 {
    border-radius: 5px;
    margin: 16px 0;
    background-color: #f2f4f6;
}

#num1,
#num2:focus {
    outline: none;
}

.addsign {
    margin-top: 25px;
}